@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=EB+Garamond:ital,wght@1,800&family=Poppins:wght@200;400;500&display=swap');

.main-container{
    min-height: 200vh;
    height: fit-content;
}
.vclass{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 1px solid black;
}
.heading_{
    font-family: 'Poppins', sans-serif;
    font-weight: 500; 
}
.list-item-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.btn-search{
    background: rgba(33, 93, 79, 1);

}
.cont-header{
    background :rgba(33, 93, 79, 1);
}

@media screen and (max-width: 320px){
    .Acc{
        font-size: 15px;
    }
    .Acc_{
        font-size: 15px;
    }
}
@media screen and (max-width:300px){
    .cont-header{
        padding: 12px 4px;
    }
}