@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.footer-cont {
  background: rgba(217, 217, 217, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.success {
  font-family: Poppins;
  font-weight: 400;
}

.end {
  background: rgba(33, 93, 79, 1);
  color: rgba(255, 255, 255, 1);
}

.heading {
  color: #215d4f;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  width: 3px;
  height: 111px;
  opacity: 0.4000000059604645;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px){
  .line{
    height: 50px;
  }
}
