@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=EB+Garamond:ital,wght@1,800&family=Poppins:wght@200;300;400;500&display=swap');

.tr_{
    border-top: 1px solid black;
}

.browse-btn{
    font-size: 10px;
    background: rgba(33, 93, 79, 1);
    padding: 2px 8px ;
    border-radius: 10px;
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 4px ;
    text-align: center;
}

.save-btn{
    background: rgba(33, 93, 79, 1);
    padding: 8px 16px;
    font-weight: 400; 
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
}

@media screen and (max-width:640px){
    .displayno{
        display: none;
    }
}

@media screen and (max-width:500px){
    .displayno_{
        display: none;
    }
}
@media screen and (max-width:375px){
    ._displayno_{
        display: none;
    }
}

@media screen and (max-width:310px){
    .small_font{
        font-size: 12px;
    }
}